<lib-modal [show]='show' (dismiss)='onDismiss()' width='18em'>
  <div class='login' *ngIf='!joinMode'>
    <h1>Log in</h1>
    <form [formGroup]='loginForm'>
      <label for='username'>Username
        <input #username formControlName='username' type='text' id='username' class='form-control'>
      </label>
      <label for='password'>Password
        <input formControlName='password' type='password' id='password' class='form-control' (keyup.enter)='onLogin()'>
        <div *ngIf='loginForm.controls.password.errors && loginForm.controls.password.errors.required && (loginForm.controls.password.touched || loginFormSubmitted)'
          class='login-error'>Password is required</div>
      </label>
      <lib-button usage='primary' (click)='onLogin()'>Log in</lib-button>
      <div class='login-error'>{{failReason}}</div>
      <div class='switch-mode'>
        <label>
          Not a user?
          <lib-link usage='primary' (click)='onSwitchToJoinMode()'>Join now!</lib-link>
        </label>
      </div>
    </form>
  </div>
  <div class='login' *ngIf='joinMode'>
    <h1>Join now!</h1>
    <form [formGroup]='joinForm'>
      <label for='username'>User Name
        <input #usernameJoin formControlName='username' type='text' id='username' class='form-control'>
      </label>
      <label for='password'>Password
        <input formControlName='password' type='password' id='password' class='form-control'>
        <div *ngIf='joinForm.controls.password.errors && joinForm.controls.password.errors.required && (joinForm.controls.password.touched || joinFormSubmitted)'
          class='login-error'>Password is required</div>
      </label>
      <label for='passwordConfirm'>Confirm Password
        <input formControlName='passwordConfirm' type='password' id='passwordConfirm' class='form-control' (keyup.enter)='onJoin()'>
        <div *ngIf='joinForm.controls.passwordConfirm.errors && joinForm.controls.passwordConfirm.errors.required && (joinForm.controls.passwordConfirm.touched || joinFormSubmitted)'
          class='login-error'>Confirm Password is required</div>
      </label>
      <lib-button usage='primary' (click)='onJoin()' type='submit'>Join</lib-button>
      <div class='login-error'>{{failReason}}</div>
      <div class='switch-mode'>
        <label>
          Already a user?
          <lib-link usage='primary' (click)='onSwitchToLoginMode()'>Log in</lib-link>
        </label>
      </div>
    </form>
  </div>
</lib-modal>
